# Environment being run
ENV=

# AWS account and region it is being run in
AWS_CDK_ACCOUNT=
AWS_CDK_REGION=

# R53 domain name and ACM certificate for domain
AWS_CDK_DOMAIN_NAME=
AWS_CDK_DOMAIN_ZONE_ID=

#API/Infra
SES_EMAIL_NAME=

INFRA_CDN_CHALLENGE_USER=
INFRA_CDN_CHALLENGE_PASSWORD=

INFRA_CDN_HEADER_AUTH_KEY=
INFRA_CDN_HEADER_AUTH_VALUE=

INFRA_GATEWAY_HEADER_AUTH_KEY=
INFRA_GATEWAY_HEADER_AUTH_VALUE=

#Web
NX_WEB_API_URL=